.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 100%;
}
.sliderMenu {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}
.sliderMenu::-webkit-scrollbar {
    display: none;
  }
.sliderMenu li {
  list-style: none;
}
.sliderMenu button {
  background-color: var(--accent);
  border: none;
  color: white;
  min-width: 100px;
  font-size: 1.1rem;
  font-family: system-ui;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.3s ease-in-out;
}
.arrows {
  display: none;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .arrows {
    display: block;
  }
}
