@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
:root {
  --primary: #00476d;
  --secondary: #f6f0ed;
  --text: #474747;
  --white: #ffffff;
  --accent: #6769ff;
}
html {
  padding: 0rem;
  background-color: rgb(255, 255, 255);
  margin: 0rem;
}
body {
  margin: 0rem;
}
html h1 {
  font-family: "pokemon-solid", sans-serif;
}

#root {
}
* {
  font-family: "Open Sans", sans-serif;
  /* border diagnostics */

  /* border: 1px solid #000; */

  /* border diagnostics */
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 12px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 12px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 12px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 12px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 12px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 12px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 12px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 12px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 12px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 12px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 12px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 12px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 12px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 12px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 12px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 12px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 12px #5695a3;
}
.shadow {
  background: #5695a3;
  box-shadow: 0 0 12px #5695a3;
}
.unknown {
  background: #5695a3;
  box-shadow: 0 0 12px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 12px #539ddf;
}
