:root {
  --primary: #628395;
  --secondary: #f6f0ed;
  --text: #383838;
  --white: #ffffff;
  --accent: #659b5e;
}
html {
  padding: 0rem;
  background-color: rgb(228, 228, 228);
  margin: 0rem;
}
body{
    margin: 0rem;
}
html h1 {
  font-family: "Roboto", sans-serif;
}
#root {
}
