.DevinfoStyle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: black;
  padding: 1rem 2rem;
  border-radius: 2em;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px var(--white);
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.2em;
  background-color: var(--accent);
  color: var(--white);
  font-size: 1em;
  box-shadow: 0px 0px 10px var(--white);
}
