.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.05rem;
  width: 100%;
}
.sliderMenu {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  overflow-x: scroll;
  /* scrollbar-width: none; */
  scroll-behavior: smooth;
  margin: 0.5rem 0;
  padding: 0;
  /* slide scroll to the right */
  /* scroll-snap-type: x mandatory; */
}
.sliderMenu::-webkit-scrollbar {
  background-color: white;
}
.sliderMenu::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 999px;
}

.sliderMenu li {
  list-style: none;
}

.sliderMenu img {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.typeButtons {
  /* background-color: var(--accent); */
  border: none;
  color: white;
  font-size: 1.1rem;
  font-family: system-ui;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 999px;
  /* transition: all 0.3s ease-in-out; */
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrows {
  display: none;
}
.title {
  margin: 2.7rem 0;
  color: var(--text);
}

@media screen and (max-width: 768px) {
  .arrows {
    display: block;
    margin-top: 1.1rem;
    font-weight: bolder;
    color: var(--text);
  }
  .sliderMenu::-webkit-scrollbar {
display: none;  }
.title {
  margin: 1rem 0;
  color: var(--text);
}
}
