.mobileMenu {
  display: none;
}
.MenuIcon {
  display: none;
}
.logoMobile {
  /* display: none; */
}
/* para anchos de 0 a 768 se cunple esto: */
@media (max-width: 768px) {
  .mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.852);
    z-index: 10;
  }
  .mobileMenu input {
    padding: 0.5rem 1rem 0.5rem 3rem;
    background-color: beige;
    font-size: 1.2rem;
    border-radius: 999px;
    width: 205px;
    border: 2px solid rgb(158, 158, 158);
  }
  .LinkMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    
margin-top: 2rem ;
    padding: 0.5rem  3rem;
    font-size: 1.2rem;
    border-radius: 999px;
    width: 205px;
    border: 2px solid rgb(158, 158, 158);
    text-align: center;
  }
  .logoMobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 20;
  }
  .MenuIcon {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    z-index: 30;
    color: var(--text);
  }
  .LinkMobile {
    font-family: system-ui;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
}
