.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 105vh; */
  padding: 0rem !important;
  margin: 0rem !important;
  background-image: url("../../assets/splashBackgroundImage.jpeg");
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
.contentSplash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 35%;
}

.title {
  letter-spacing: 0.2em;
  color: black;
  font-family: "Pokemon Solid", sans-serif;

  font-size: 3em;
  text-align: center;
  text-shadow: 0px 0px 10px var(--white);
  display: block;
  text-shadow: -4px -4px 0 white, 4px -4px 0 white, -4px 4px 0 white, 4px 4px 0 white;
}
.button {
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.2em;
  background-color: var(--accent);
  padding: 1rem 3rem;
  border-radius: 2em;
  border: 4px solid var(--white);
  color: var(--white);
  font-size: 2em;
  box-shadow: 0px 0px 10px var(--white);
}
.button:hover {
  background-color: var(--white);
  color: var(--accent);
  cursor: pointer;
  border: 4px solid var(--accent);

  box-shadow: 4px 4px 10px #659b5e;
}
.button:active {
  background-color: var(--accent);
  color: var(--white);
  /* set button shadow white small */
  text-shadow: 2px 2px 5px #ffffff;
  display: ;
}

/* for cellphones */
@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }
  .button {
    font-size: 1.5em;
  }
  img {
    width: 100%;
  }
}
